body {
    margin: 0;
    text-align: center;
    background-color: black;
    color: #bbb;
}

/*Styte for the introduction view */
#firstView {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #5f90ef;
    color: #000;
    z-index: 10;
}

#message {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*•••••••••••••••••••••••••••••••••••••••••••*/

video {
  width: 70%;
  max-height: 480px;
}

#preloader {
    height: 40px;
    width: 40px;
    border: 6px dotted;
    border-top-color: #00ff00;
    border-left-color: #00cc00;
    border-bottom-color: #009900;
    border-right-color: #006600;
    border-radius: 50%;
    margin: 20px auto;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
